*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid;
    text-align: center;
    padding-top: 2%;
}

.container h1 {
    margin-top: 2%  ;
    margin-bottom: 1%  ;
}

.img1 {
    margin-left: -4%;
}

.img3 {
    margin-left: -8%;
}

.img4 {
    margin-left: -7%;
}

.img5 {
    margin-left: -3%;
}

.img6 {
    margin-left: -4%;
}

.img7 {
    margin-left: -4%;
}